@import 'variables';
@import "mixins"; 
@import "partials/sections";
@import "partials/footer";
@import "partials/mediaquerys";

body{
    margin: 0;
    padding:0;
    background-color: rgb(216, 216, 216) !important;
  }

.color{
      background-color:rgb(105, 167, 202);
  }
  
#titulo {
    color:black;
    font-style: normal;
    text-align: center;
  }
.div-titulo-seccion-1{
      display: flex;
      justify-content: left;
      margin-left: 30px;
      width: 30%;
      border-bottom-style: groove;
      border-color: rgb(0, 162, 255);
  }
  
.div-aux3{ 
      width: 30%;
      border-top: $linea-azul;
  }
  
.div-aux4{
      width: 70%;
  }
  
h1 {
    text-align: center;
    font-style:normal;
    font-size: 100px;
  }

.titulo_seccion_1{
  display: flex;
  }
  
.ultima-sec1{
      display: flex;
      padding-top:80px ;
  }
  
  .img-ultima{  
      width: 800px;
  }

.h2-2{
      display: flex;
      justify-content: space-between;
      margin: 50px;   
  }

.div-titulo-pagina{
      display: flex;
      width: 100%;
      justify-content: center;
      height: 50px;
      margin-top: 60px; 
  }
  
.display-flex{
    @include flex-center-center;
    padding-bottom: 80px;
    padding-left: 7px;
}

.div-boton{
      position:fixed;
     
  }
.boton{
      height: 50px;
      width: 90px;
      border-radius: 10%; 
      background-color: rgb(0, 0, 0);
      font-style: inherit;
      color: white;
      position: fixed;
      bottom: 20px;
      right: 20px;
      padding: 10px 20px;
      border: 3px solid lightblue;
  }
  
.scrollToTop{
      font-style: none;
      font-weight: 100;
  }