.footer{
    display: flex;
    justify-content: center;
    background-color: black;
}

.contenido-footer{  
    display: flex;
    text-align: center;
}

.footer-p{
    color: white;
}

.footer-a{
    color: white;
}